body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200vh;
}

header {
    background: linear-gradient(135deg, #9c7bff 0%, #9852d5 100%);
    color: #fff;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

main {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    background: #ffe7e7;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

video {
    width: 100%;
    max-width: 800px;
    border: 2px solid #ddd;
    border-radius: 10px;
}

form {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

button:hover {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    transform: scale(1.10);
}

iframe {
    background: #e7e7e7;
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}



th{
    background-color: #906363;
}
td{
    font-family:Verdana;
    background-color: #2ff85a;
}